#area {
    overflow: auto;
    width: 100%;
    height: 100%;
        
    -ms-content-zooming: zoom;    
    -ms-content-zoom-limit-min: 50%;
    -ms-content-zoom-limit-max: 600%;
}

#area_off {  /* remove _off to use this rule instead */
    overflow: auto;
    width: 100%;
    height: 100%;
        
    -ms-content-zooming: zoom;    
    -ms-content-zoom-limit-min: 50%;
    -ms-content-zoom-limit-max: 600%;

    /* restrict movement to one axis at a time */
    /* -ms-scroll-rails: railed; */
        
    -ms-scroll-snap-type: mandatory;
    -ms-scroll-snap-points-x: snapInterval(0%, 20%);
    -ms-scroll-snap-points-y: snapInterval(0%, 20%);
}

#image {
    width: 100%;
    height: 100%;
}
