<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="7ee9b41e-f837-496a-ba44-8629adbb7807" Version="1.0.0.0" Publisher="CN=Chad" />
  <Properties>
    <DisplayName>LiveTileExample</DisplayName>
    <PublisherDisplayName>Chad</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="LiveTileExample" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="LiveTileExample" ForegroundText="dark" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="wideLogoOnly" WideLogo="images\widelogo.png" ShortName="LiveTile" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>